
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ölçsan Film</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/web/css/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/web/css/faqstyle.css" type="text/css" media="all" />
    <link href="~/web/css/single.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/web/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/web/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/web/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/web/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/web/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/web/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds

                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>




    <!-- //banner-bottom-plugin -->
    <link href='~/web///fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/web/js/move-top.js"></script>
    <script type="text/javascript" src="~/web/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

</head>


<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="/Home/Index/"><h1 style="color:black"><i><small>San<span style="color: #6F1E51">Film</span></small></i></h1></a>
            </div>

            <div class="w3_search">
                <form asp-controller="Home" asp-action="Index" method="post">
                    <input type="text" name="search" placeholder="Search" required="">
                    <input type="submit" value="Ara">
                </form>
            </div>


            <div class="w3l_sign_in_register">
                <ul>
                    <a href="/Log/Index/"><input type="submit" style="background-color:black; color:white; width:150px;" value="Yönetici Paneli" /></a>

                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>

                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    @await Component.InvokeAsync("CategoryGetList")


    <div class="general_social_icons">
        <nav class="social">
            <ul>
                <li class="w3_twitter"><a href="https://twitter.com/">Twitter <i class="fa fa-twitter"></i></a></li>
                <li class="w3_facebook"><a href="https://www.facebook.com/">Facebook <i class="fa fa-facebook"></i></a></li>
                <li class="w3_g_plus"><a href="https://accounts.google.com/signin/v2/identifier?service=accountsettings&continue=https%3A%2F%2Fmyaccount.google.com%2F%3Futm_source%3DOGB%26tab%3Dmk%26utm_medium%3Dact&ec=GAlAwAE&flowName=GlifWebSignIn&flowEntry=AddSession">Google+ <i class="fa fa-google-plus"></i></a></li>
            </ul>
        </nav>
    </div>

    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2 style="color: #6F1E51">Haber Alın</h2>
                        <div class="w3ls_footer_grid_left1_pos" style="color: #6F1E51">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Email adresiniz..." required="">
                                <input type="submit" style="background-color: #6F1E51" value="Gönder">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="/Home/Index/"><h2><small>San<span style="color: #6F1E51">Film</span></small></h2></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2021 Ölçsan. All rights reserved | Design by <a href="https://tr.olcsancad.com/">Ölçsan</a></p>
            </div>
            <div class="col-md-7 w3ls_footer_grid1_right">
                <ul>
                    <li>
                        <a href="/Home/MovieList/">Filmler</a>
                    </li>
                    <li>
                        <a href="/Home/Question/">Sık Sorulanlar</a>
                    </li>
                    <li>
                        <a href="/Home/Communication/">İletişim</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <script src="~/web/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
</body>
</html>